@model ProductVM

@{
    var isCreateMode = ViewData["ActionMode"]?.ToString() == "Create";
    bool hasImageUrl = !string.IsNullOrEmpty(@Model.Product.ImageUrl);
}

<form method="post" enctype="multipart/form-data">
    <div class="p-3 mt-4 row">
        <div class="row pb-2">
            <h2>@ViewData["ActionMode"] Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        @if (!isCreateMode)
        {
            <input asp-for="@Model.Product.Id" hidden />
            <input asp-for="@Model.Product.ImageUrl" hidden />
        }
        <div class="col-10 border p-5">
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Title">Title</label>
                <input asp-for="@Model.Product.Title" type="text" class="form-control" />
                <span asp-validation-for="@Model.Product.Title" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Description">Description</label>
                <textarea asp-for="@Model.Product.Description" rows="5" class="form-control" ></textarea>
                <span asp-validation-for="@Model.Product.Description" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.ISBN">ISBN</label>
                <input asp-for="@Model.Product.ISBN" class="form-control" />
                <span asp-validation-for="@Model.Product.ISBN" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Author">Author</label>
                <input asp-for="@Model.Product.Author" class="form-control" />
                <span asp-validation-for="@Model.Product.Author" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.ListPrice">ListPrice</label>
                <input asp-for="@Model.Product.ListPrice" class="form-control" />
                <span asp-validation-for="@Model.Product.ListPrice" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Price"></label>
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Price50"></label>
                <input asp-for="@Model.Product.Price50" class="form-control" />
                <span asp-validation-for="@Model.Product.Price50" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.Price100"></label>
                <input asp-for="@Model.Product.Price100" class="form-control" />
                <span asp-validation-for="@Model.Product.Price100" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.CategoryId"></label>
                <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                    <option disabled selected>--Select Category</option>
                </select>
                <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label class="pb-2 px-0" asp-for="@Model.Product.ImageUrl"></label>
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="@Model.Product.ImageUrl" class="text-danger"> </span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">@ViewData["ActionMode"]</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2">
            @if(hasImageUrl){
                <div class="rounded-2">
                    <img src="@Model.Product.ImageUrl" width="100%" />
                </div>
                <a download href="@Model.Product.ImageUrl">Download your image</a>
            }
            else{
                <span>No Image!</span>
            }
            
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}